<h5><b>Choose your Time Slot</b></h5>
<div class="row">
  <div class="col-sm-1">From:</div>
  <div class="col-sm-2" style="width:31%;">
    <input type="text" id="from" data-format="HH:mm" data-template="HH : mm" name="datetime">
  </div>

  <div class="col-sm-1">To:</div>
  <div class="col-md-3" style="width:31%;margin-left:-3.9%;">
    <input type="text" id="to" data-format="HH:mm" data-template="HH : mm" name="datetime">
  </div>
  </div></br>
<div class="row">
  <div class="col-sm-1" style="width:12%;margin-left:0%">Duration:</div>
  <div class="col-sm-3">
    <input type="text" id="duration" data-format="mm" data-template="mm" name="datetime">
  </div>  

  
<div class='row' id="weeksField">
	<div class="col-md-6">
    <% ts_week_days.keys.each do |w| %>
      <%=ts_week_days[w]%>
    	<%=check_box_tag 'week_days[]', w%>
    <%end%>
	</div>
</div>
</div>

<div class='row'>
  <div class="col-md-1 col-md-offset-10">
 	  <%=button_tag "Add New", class:"btn btn-xs btn-primary", id: 'sub_new_slots' %>
 	</div>
</div>

<script>
  $(function(){
    $('#from').combodate({
        firstItem: 'name', //show 'hour' and 'minute' string at first item of dropdown
        minuteStep: 1
    });

    $('#to').combodate({
        firstItem: 'name', //show 'hour' and 'minute' string at first item of dropdown
        minuteStep: 1
    }); 

    $('#duration').combodate({
      firstItem: 'name', //show 'hour' and 'minute' string at first item of dropdown
      minuteStep: 1
    })

    $('#sub_new_slots').click(function(){
      var weekArr = []
      $('#weeksField input:checked').each(function() {
        weekArr.push($(this).val());
      });

      $.ajax({
        method: "post",
        url: "/time_slots",
        data: { time_slot: {doctor_id:"<%=@doctor.id%>",
          from: $("#from").val(),
          to: $('#to').val(),
          duration: $('#duration').val()},
          week_days: weekArr }
      })
        .done(function( data ) {
          $("#doctor-time-slots").html(data)
        });
    })

  });

</script>
