<html>
<body>
<% if doctor_signed_in? %>
<button class="accordion">Manage Your Appointments</button>
<div class="panel">
  <br>
  <%= render partial: "time_slots/time_slots" %>
  <br>
  <%= render partial: 'time_slots/form' %>
<% else %>
  <%= button_tag "Create Appointment", class: "btn btn-info btn-xs", style:"float:right" %>
  <br>
  <%= render partial: "time_slots/time_slots" %>
<% end %> 
</div>

<script>
var acc = $(".accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>

</body>
</html>


