
<% if doctor_signed_in? %>
  <p>Manage Your Appointments</p>
  <br>
  <%= render partial: "time_slots/time_slots" %>
  <br>
  <%= render partial: 'time_slots/form' %>
<% else %>
  <%= button_tag "Create Appointment", class: "btn btn-info btn-xs", style:"float:right" %>
  <br>
  <%= render partial: "time_slots/time_slots" %>
<% end %> 
